# for the first version user.
install/
build_opencv/
opencv/
opencv_contrib/

# for the second version user.
**/build/
.* 
! .gitignore
seeds3d.egg-info/
data_sup/
samples/seeds3d-python/result.nii.gz